.metadata/
Sercers/

# Eclipse artifacts, including WTP generated manifests

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
doc
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
**/.vscode/
